@charset "UTF-8";
html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
<<<<<<< HEAD
=======
  z-index: 333;
  background-color: #e8e0e2;
  /* Fade in tabs */
}

body #zhezhao {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #504c4c;
  opacity: 0.6;
  z-index: 444;
  display: none;
>>>>>>> f19f73a (second登录和增删改查)
}

body .menu {
  width: 200px;
  height: 100%;
  background-color: #466a79;
  color: #fff0d1;
  position: fixed;
<<<<<<< HEAD
  z-index: 999;
=======
  z-index: 111;
>>>>>>> f19f73a (second登录和增删改查)
  font-family: serif;
  font-size: 20px;
}

body .menu .father,
body .menu .userMe {
  display: block;
  width: 200px;
  height: 80px;
  position: relative;
  background-color: #466a79;
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  align-items: center;
=======
  text-align: center;
  line-height: 80px;
>>>>>>> f19f73a (second登录和增删改查)
  cursor: pointer;
}

body .menu .father:hover {
  background-color: #364e58;
}

<<<<<<< HEAD
body .menu .userMe {
  width: 100%;
  height: 80px;
}

body .menu .userMe .imgMe {
  width: 60px;
  height: 60px;
}

body .menu .userMe .imgMe img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

body .menu .sonMenu {
  width: 170px;
  height: 100px;
  position: absolute;
  float: left;
  left: 202px;
  top: 180px;
  display: none;
  border-radius: 2px;
}

body .menu .sonMenu .son {
  display: block;
  width: 170px;
  height: 50px;
  background-color: #466a79;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body .menu .sonMenu .son:hover {
  background-color: #364e58;
}

body .control:hover ~ .sonMenu {
  display: block;
}

body .sonMenu:hover {
  display: block;
=======
body .menu .active {
  background-color: #364e58;
}

body .menu .userMe {
  width: 100%;
  height: 80px;
  cursor: auto;
}

body .menu .userMe #imgMe {
  width: 60px;
  height: 60px;
}

body .menu .userMe #imgMe :hover {
  outline: 0;
  border: 1px solid #71c1e0;
  box-shadow: 0px 0px 10px 0px #71c1e0;
}

body .menu .userMe #imgMe img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
>>>>>>> f19f73a (second登录和增删改查)
}

body .main {
  width: 100%;
  height: 100%;
  margin-left: 200px;
  background-color: #e8e0e2;
}

body .main table {
  width: 100%;
  height: auto;
  position: relative;
  border-collapse: collapse;
}

body .main th,
body .main td {
  border-bottom: 1px solid #d0c6c6;
  text-align: center;
  padding: 20px 0;
}

body .main table thead tr {
  background-color: #f8f8f9;
  color: black;
}

body .main table tbody tr:nth-child(odd) {
  background-color: #eee;
}

body .main table tbody tr a {
  margin-right: 10px;
}

body .main table tbody tr:hover {
  background-color: #ccc;
}

body .main table tbody tr td:first-child {
  color: #364e58;
}

body .main .func {
  width: 500px;
<<<<<<< HEAD
  height: 60px;
=======
  height: 80px;
>>>>>>> f19f73a (second登录和增删改查)
  position: relative;
  float: left;
}

body .main .func .funcBtn {
  border: none;
  width: 100px;
  height: 15px;
  background-color: #e8e0e2;
  margin-top: 30px;
  margin-left: 10px;
<<<<<<< HEAD
}

body .main .func .delete, body .main .func .modify {
  cursor: no-drop;
}

body .main .func .delete img, body .main .func .modify img {
  cursor: no-drop;
}

body .main .func .delete a, body .main .func .modify a {
  cursor: no-drop;
=======
  font-size: 16px;
}

body .main .func .funcBtn #add {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 33px;
  left: 25px;
  display: inline-block;
  background-image: url("../img/增加.png");
}

body .main .func .funcBtn #add :hover {
  background-image: url("../img/增加1.png");
>>>>>>> f19f73a (second登录和增删改查)
}

body .main .pageBtn {
  width: 400px;
  height: 50px;
  position: relative;
  float: right;
  margin-top: 0px;
}

body .main .pageBtn .shuoMing {
<<<<<<< HEAD
  width: 30%;
=======
  width: 40%;
>>>>>>> f19f73a (second登录和增删改查)
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

<<<<<<< HEAD
=======
body .main .pageBtn .shuoMing button {
  width: 70px;
  height: 25px;
  border: none;
  outline: none;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  background-color: #eee;
  cursor: pointer;
  font-size: 15px;
}

body .main .pageBtn .shuoMing button:focus {
  outline: 0;
  border: 1px solid #5dc5f9;
  box-shadow: 0px 0px 10px 0px #5dc5f9;
}

>>>>>>> f19f73a (second登录和增删改查)
body .main .pageBtn .changePage {
  width: 80px;
  height: 20px;
  position: absolute;
  top: 15px;
<<<<<<< HEAD
  left: 150px;
=======
  left: 160px;
>>>>>>> f19f73a (second登录和增删改查)
  display: flex;
  justify-content: space-between;
}

body .main .pageBtn .changePage .twoBtn {
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 3px;
}

<<<<<<< HEAD
=======
body .main .pageBtn .changePage .twoBtn :hover {
  cursor: pointer;
}

body .main .pageBtn .changePage .twoBtn img {
  position: absolute;
  top: 3px;
}

>>>>>>> f19f73a (second登录和增删改查)
body .main .pageBtn .changePage .page {
  width: 20px;
  height: 20px;
  background-color: #364e58;
  color: white;
  text-align: center;
  border: none;
  border-radius: 3px;
}

<<<<<<< HEAD
body .main .pageBtn .changePage img {
  position: absolute;
  top: 3px;
}

=======
>>>>>>> f19f73a (second登录和增删改查)
body .main .pageBtn .change-input {
  width: 100px;
  display: block;
  position: absolute;
  left: 260px;
<<<<<<< HEAD
  top: 15px;
=======
  top: 12px;
>>>>>>> f19f73a (second登录和增删改查)
}

body .main .pageBtn .change-input input {
  width: 25px;
  height: 20px;
  border: none;
  outline: none;
  text-indent: 8px;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  background-color: #eee;
}

<<<<<<< HEAD
=======
body .main .pageBtn .change-input input:focus {
  outline: 0;
  border: 1px solid #5dc5f9;
  box-shadow: 0px 0px 10px 0px #5dc5f9;
}

>>>>>>> f19f73a (second登录和增删改查)
body .main .pageBtn .change-input button {
  width: 20px;
  height: 20px;
  background-color: #364e58;
  color: white;
  text-align: center;
  border: none;
  border-radius: 3px;
}

<<<<<<< HEAD
body .main .FatheraddData {
  width: 1423px;
  height: 800px;
  position: absolute;
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

body .main .modData, body .main .addData {
  width: 400px;
  height: 350px;
  z-index: 9999999999;
=======
body .main .Select_bar {
  width: 70px;
  height: 110px;
  background-color: #eee;
  border: 1px solid #dcdfe6;
  font-size: 15px;
  display: block;
  position: absolute;
  top: 38px;
  left: 73px;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  display: none;
}

body .main .Select_bar .bar {
  width: 100%;
  height: 100px;
  margin-top: 5px;
  cursor: pointer;
}

body .main .Select_bar .bar .Barli {
  width: 100%;
  height: 25px;
}

body .main .Select_bar .bar .Barli:hover {
  background-color: #d4d1d1;
}

body .main .modData,
body .main .addData {
  width: 400px;
  height: 350px;
  z-index: 999;
>>>>>>> f19f73a (second登录和增删改查)
  background-color: white;
  position: absolute;
  /* 向右、向下移动父盒子的一半 （偏移量） */
  left: 50%;
  top: 50%;
  /* translate若使用百分比，是相对于自身的比例的位移 */
  transform: translate(-50%, -50%);
  outline: none;
  border-radius: 5px;
  padding: 20px 50px;
  display: none;
}

<<<<<<< HEAD
body .main .modData input, body .main .addData input {
  border: none;
=======
body .main .modData input,
body .main .addData input {
>>>>>>> f19f73a (second登录和增删改查)
  outline: none;
  border-radius: 2px;
  border: 1px solid #948b8b;
  width: 300px;
  height: 30px;
  margin-top: 20px;
  text-indent: 10px;
}

<<<<<<< HEAD
body .main .modData #_id, body .main .modData #add_id, body .main .addData #_id, body .main .addData #add_id {
  display: none;
}

body .main .modData .btn, body .main .addData .btn {
=======
body .main .modData input:focus,
body .main .addData input:focus {
  outline: 0;
  border: 1px solid #5dc5f9;
  box-shadow: 0px 0px 10px 0px #5dc5f9;
}

body .main .modData #_id,
body .main .modData #add_id,
body .main .addData #_id,
body .main .addData #add_id {
  display: none;
}

body .main .modData .btn,
body .main .addData .btn {
>>>>>>> f19f73a (second登录和增删改查)
  width: 320px;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
<<<<<<< HEAD
  margin-top: 30px;
  left: 90px;
}

body .main .modData .btn button, body .main .addData .btn button {
=======
  margin-top: 15px;
  left: 90px;
}

body .main .modData .btn button,
body .main .addData .btn button {
>>>>>>> f19f73a (second登录和增删改查)
  width: 100px;
  height: 50px;
  background-color: #0075ff;
  border: none;
  outline: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

body .main .searchData {
  width: 200px;
  height: 200px;
<<<<<<< HEAD
=======
  z-index: 999;
>>>>>>> f19f73a (second登录和增删改查)
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px 50px;
  display: none;
}

body .main .searchData input {
  outline: none;
  border-radius: 2px;
  border: 1px solid #948b8b;
  width: 200px;
  height: 30px;
  margin-top: 20px;
  text-indent: 10px;
}

<<<<<<< HEAD
=======
body .main .searchData input:focus {
  outline: 0;
  border: 1px solid #5dc5f9;
  box-shadow: 0px 0px 10px 0px #5dc5f9;
}

>>>>>>> f19f73a (second登录和增删改查)
body .main .searchData .btn {
  width: 210px;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  left: 46px;
}

body .main .searchData .btn button {
  width: 60px;
  height: 30px;
  background-color: #0075ff;
  border: none;
  outline: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
<<<<<<< HEAD
=======

body .UserInfo {
  width: 100%;
  height: 100%;
  margin-left: 200px;
  background-color: #e8e0e2;
  display: none;
}

body .UserInfo .func_users {
  width: 500px;
  height: 80px;
  position: relative;
  float: left;
}

body .UserInfo .func_users .funcBtn_users {
  border: none;
  width: 100px;
  height: 15px;
  background-color: #e8e0e2;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 16px;
}

body .UserInfo .func_users .funcBtn_users :hover {
  color: #1296db;
}

body .UserInfo table {
  width: 100%;
  height: auto;
  position: relative;
  border-collapse: collapse;
}

body .UserInfo th,
body .UserInfo td {
  border-bottom: 1px solid #d0c6c6;
  text-align: center;
  padding: 20px 0;
}

body .UserInfo table thead tr {
  background-color: #f8f8f9;
  color: black;
}

body .UserInfo table tbody tr:nth-child(odd) {
  background-color: #eee;
}

body .UserInfo table tbody tr a {
  margin-right: 10px;
}

body .UserInfo table tbody tr:hover {
  background-color: #ccc;
}

body .UserInfo table tbody tr td:first-child {
  color: #364e58;
}

body .UserInfo .pageBtn_users {
  width: 400px;
  height: 50px;
  position: relative;
  float: right;
  margin-top: 0px;
}

body .UserInfo .pageBtn_users .shuoMing_users {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .UserInfo .pageBtn_users .shuoMing_users button {
  width: 70px;
  height: 25px;
  border: none;
  outline: none;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  background-color: #eee;
  cursor: pointer;
  font-size: 15px;
}

body .UserInfo .pageBtn_users .shuoMing_users button:focus {
  outline: 0;
  border: 1px solid #5dc5f9;
  box-shadow: 0px 0px 10px 0px #5dc5f9;
}

body .UserInfo .pageBtn_users .changePage_users {
  width: 80px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 160px;
  display: flex;
  justify-content: space-between;
}

body .UserInfo .pageBtn_users .changePage_users .twoBtn_users {
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 3px;
}

body .UserInfo .pageBtn_users .changePage_users .twoBtn_users :hover {
  cursor: pointer;
}

body .UserInfo .pageBtn_users .changePage_users .twoBtn_users img {
  position: absolute;
  top: 3px;
}

body .UserInfo .pageBtn_users .changePage_users .page_users {
  width: 20px;
  height: 20px;
  background-color: #364e58;
  color: white;
  text-align: center;
  border: none;
  border-radius: 3px;
}

body .UserInfo .pageBtn_users .change-input_users {
  width: 100px;
  display: block;
  position: absolute;
  left: 260px;
  top: 12px;
}

body .UserInfo .pageBtn_users .change-input_users input {
  width: 25px;
  height: 20px;
  border: none;
  outline: none;
  text-indent: 8px;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  background-color: #eee;
}

body .UserInfo .pageBtn_users .change-input_users input:focus {
  outline: 0;
  border: 1px solid #5dc5f9;
  box-shadow: 0px 0px 10px 0px #5dc5f9;
}

body .UserInfo .pageBtn_users .change-input_users button {
  width: 20px;
  height: 20px;
  background-color: #364e58;
  color: white;
  text-align: center;
  border: none;
  border-radius: 3px;
}

body .UserInfo .Select_bar_users {
  width: 70px;
  height: 110px;
  background-color: #eee;
  border: 1px solid #dcdfe6;
  font-size: 15px;
  display: block;
  position: absolute;
  top: 38px;
  left: 73px;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  display: none;
}

body .UserInfo .Select_bar_users .bar_users {
  width: 100%;
  height: 100px;
  margin-top: 5px;
  cursor: pointer;
}

body .UserInfo .Select_bar_users .bar_users .Barli_users {
  width: 100%;
  height: 25px;
}

body .UserInfo .Select_bar_users .bar_users .Barli_users:hover {
  background-color: #d4d1d1;
}

body .UserInfo .searchData_users {
  width: 200px;
  height: 200px;
  z-index: 999;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px 50px;
  display: none;
}

body .UserInfo .searchData_users input {
  outline: none;
  border-radius: 2px;
  border: 1px solid #948b8b;
  width: 200px;
  height: 30px;
  margin-top: 20px;
  text-indent: 10px;
}

body .UserInfo .searchData_users input:focus {
  outline: 0;
  border: 1px solid #5dc5f9;
  box-shadow: 0px 0px 10px 0px #5dc5f9;
}

body .UserInfo .searchData_users .btn_users {
  width: 210px;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  left: 46px;
}

body .UserInfo .searchData_users .btn_users button {
  width: 60px;
  height: 30px;
  background-color: #0075ff;
  border: none;
  outline: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

body .UserInfo .modData_users {
  width: 370px;
  height: 300px;
  z-index: 999;
  background-color: white;
  position: absolute;
  /* 向右、向下移动父盒子的一半 （偏移量） */
  left: 50%;
  top: 50%;
  /* translate若使用百分比，是相对于自身的比例的位移 */
  transform: translate(-50%, -50%);
  outline: none;
  border-radius: 5px;
  padding: 20px 35px;
  display: none;
}

body .UserInfo .modData_users input {
  outline: none;
  border-radius: 2px;
  border: 1px solid #948b8b;
  width: 300px;
  height: 30px;
  margin-top: 30px;
  text-indent: 10px;
}

body .UserInfo .modData_users input:focus {
  outline: 0;
  border: 1px solid #5dc5f9;
  box-shadow: 0px 0px 10px 0px #5dc5f9;
}

body .UserInfo .modData_users #_id_users {
  display: none;
}

body .UserInfo .modData_users .btn_users {
  width: 320px;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  left: 66px;
}

body .UserInfo .modData_users .btn_users button {
  width: 100px;
  height: 50px;
  background-color: #0075ff;
  border: none;
  outline: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

body .MyInfob {
  width: 100%;
  height: 100%;
  background-color: #e8e0e2;
  display: none;
  text-align: center;
}

body .MyInfob .showInfo_card {
  width: 50%;
  height: 662px;
  background-color: #e8e0e2;
  top: 20px;
  left: 400px;
  border-radius: 2px;
  position: absolute;
  border: 1px solid #626060;
  /* 阴影向右偏移5px、向下偏移5px、模糊距离为5px、阴影尺寸为5px、颜色*/
  box-shadow: 5px 5px 5px 5px #979596;
}

body .MyInfob .showInfo_card .smallTitle {
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #9b9797;
  color: white;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #5d7883;
}

body .MyInfob .showInfo_card .basicInfo {
  width: 100%;
  height: 560px;
}

body .MyInfob .showInfo_card .basicInfo table {
  width: 100%;
  height: auto;
  position: relative;
  border-collapse: collapse;
}

body .MyInfob .showInfo_card .basicInfo th,
body .MyInfob .showInfo_card .basicInfo td {
  border-bottom: 1px solid #d0c6c6;
  text-align: center;
  padding: 20px 0;
}

body .MyInfob .showInfo_card .basicInfo table tbody tr:nth-child(odd) {
  background-color: #eee;
}

body .MyInfob .showInfo_card .basicInfo table tbody tr a {
  margin-right: 10px;
}

body .MyInfob .showInfo_card .basicInfo table tbody tr:hover {
  background-color: #ccc;
}

body .MyInfob .modMyInfo {
  width: 43%;
  height: 660px;
  background-color: #e8e0e2;
  position: absolute;
  right: 30px;
  top: 20px;
  border-radius: 2px;
  border: 1px solid #626060;
  /* 阴影向右偏移5px、向下偏移5px、模糊距离为5px、阴影尺寸为5px、颜色*/
  box-shadow: 5px 5px 5px 5px #979596;
}

body .MyInfob .modMyInfo .smalltitle_mod {
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #9b9797;
  color: #636564;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
}

body .MyInfob .modMyInfo .MyInfo_mod {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  padding: 50px 20px;
}

body .MyInfob .modMyInfo .MyInfo_mod input {
  outline: none;
  border-radius: 2px;
  border: 1px solid #948b8b;
  width: 70%;
  height: 50px;
  margin-top: 20px;
  text-indent: 10px;
  background-color: #eee;
}

body .MyInfob .modMyInfo .MyInfo_mod input:focus {
  outline: 0;
  border: 1px solid #5dc5f9;
  box-shadow: 0px 0px 10px 0px #5dc5f9;
}

body .MyInfob .modMyInfo .MyInfo_mod #_idMyInfo_mod {
  display: none;
}

body .MyInfob .modMyInfo .btnMyInfo_mod {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 180px;
}

body .MyInfob .modMyInfo .btnMyInfo_mod button {
  width: 100px;
  height: 50px;
  background-color: #5e7f8d;
  border: none;
  outline: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

body .MyInfob .modMyInfo .btnMyInfo_mod #redbtn {
  background-color: #a44f4f;
}

body .order {
  width: 100%;
  height: 100%;
  margin-left: 200px;
  background-color: #e8e0e2;
  display: none;
}

body .order .func_order {
  width: 500px;
  height: 80px;
  position: relative;
  float: left;
}

body .order .func_order .funcBtn_order {
  border: none;
  width: 100px;
  height: 15px;
  background-color: #e8e0e2;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 16px;
}

body .order .func_order .funcBtn_order :hover {
  color: #1296db;
}

body .order table {
  width: 100%;
  height: auto;
  position: relative;
  border-collapse: collapse;
}

body .order th,
body .order td {
  border-bottom: 1px solid #d0c6c6;
  text-align: center;
  padding: 20px 0;
}

body .order table thead tr {
  background-color: #f8f8f9;
  color: black;
}

body .order table tbody tr:nth-child(odd) {
  background-color: #eee;
}

body .order table tbody tr a {
  margin-right: 10px;
}

body .order table tbody tr:hover {
  background-color: #ccc;
}

body .order table tbody tr td:first-child {
  color: #364e58;
}

body .order .pageBtn_order {
  width: 400px;
  height: 50px;
  position: relative;
  float: right;
  margin-top: 0px;
}

body .order .pageBtn_order .shuoMing_order {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .order .pageBtn_order .shuoMing_order button {
  width: 70px;
  height: 25px;
  border: none;
  outline: none;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  background-color: #eee;
  cursor: pointer;
  font-size: 15px;
}

body .order .pageBtn_order .shuoMing_order button:focus {
  outline: 0;
  border: 1px solid #5dc5f9;
  box-shadow: 0px 0px 10px 0px #5dc5f9;
}

body .order .pageBtn_order .changePage_order {
  width: 80px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 160px;
  display: flex;
  justify-content: space-between;
}

body .order .pageBtn_order .changePage_order .twoBtn_order {
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 3px;
}

body .order .pageBtn_order .changePage_order .twoBtn_order :hover {
  cursor: pointer;
}

body .order .pageBtn_order .changePage_order .twoBtn_order img {
  position: absolute;
  top: 3px;
}

body .order .pageBtn_order .changePage_order .page_order {
  width: 20px;
  height: 20px;
  background-color: #364e58;
  color: white;
  text-align: center;
  border: none;
  border-radius: 3px;
}

body .order .pageBtn_order .change-input_order {
  width: 100px;
  display: block;
  position: absolute;
  left: 260px;
  top: 12px;
}

body .order .pageBtn_order .change-input_order input {
  width: 25px;
  height: 20px;
  border: none;
  outline: none;
  text-indent: 8px;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  background-color: #eee;
}

body .order .pageBtn_order .change-input_order input:focus {
  outline: 0;
  border: 1px solid #5dc5f9;
  box-shadow: 0px 0px 10px 0px #5dc5f9;
}

body .order .pageBtn_order .change-input_order button {
  width: 20px;
  height: 20px;
  background-color: #364e58;
  color: white;
  text-align: center;
  border: none;
  border-radius: 3px;
}

body .order .Select_bar_order {
  width: 70px;
  height: 110px;
  background-color: #eee;
  border: 1px solid #dcdfe6;
  font-size: 15px;
  display: block;
  position: absolute;
  top: 38px;
  left: 73px;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  display: none;
}

body .order .Select_bar_order .bar_order {
  width: 100%;
  height: 100px;
  margin-top: 5px;
  cursor: pointer;
}

body .order .Select_bar_order .bar_order .Barli_order {
  width: 100%;
  height: 25px;
}

body .order .Select_bar_order .bar_order .Barli_order:hover {
  background-color: #d4d1d1;
}

body .order .searchData_order {
  width: 200px;
  height: 200px;
  z-index: 999;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px 50px;
  display: none;
}

body .order .searchData_order input {
  outline: none;
  border-radius: 2px;
  border: 1px solid #948b8b;
  width: 200px;
  height: 30px;
  margin-top: 20px;
  text-indent: 10px;
}

body .order .searchData_order input:focus {
  outline: 0;
  border: 1px solid #5dc5f9;
  box-shadow: 0px 0px 10px 0px #5dc5f9;
}

body .order .searchData_order .btn_order {
  width: 210px;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  left: 46px;
}

body .order .searchData_order .btn_order button {
  width: 60px;
  height: 30px;
  background-color: #0075ff;
  border: none;
  outline: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

body .order .modData_order, body .order .addData_order {
  width: 410px;
  height: 350px;
  z-index: 999;
  background-color: white;
  position: absolute;
  /* 向右、向下移动父盒子的一半 （偏移量） */
  left: 50%;
  top: 50%;
  /* translate若使用百分比，是相对于自身的比例的位移 */
  transform: translate(-50%, -50%);
  outline: none;
  border-radius: 5px;
  padding: 20px 35px;
  display: none;
}

body .order .modData_order input, body .order .addData_order input {
  outline: none;
  border-radius: 2px;
  border: 1px solid #948b8b;
  width: 300px;
  height: 30px;
  margin-top: 30px;
  text-indent: 10px;
}

body .order .modData_order input:focus, body .order .addData_order input:focus {
  outline: 0;
  border: 1px solid #5dc5f9;
  box-shadow: 0px 0px 10px 0px #5dc5f9;
}

body .order .modData_order #_id_order, body .order .addData_order #_id_order {
  display: none;
}

body .order .modData_order #add_id_order, body .order .addData_order #add_id_order {
  display: none;
}

body .order .modData_order .btn_order, body .order .addData_order .btn_order {
  width: 320px;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  left: 66px;
}

body .order .modData_order .btn_order button, body .order .addData_order .btn_order button {
  width: 100px;
  height: 50px;
  background-color: #0075ff;
  border: none;
  outline: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

body .tabcontent {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
>>>>>>> f19f73a (second登录和增删改查)
